In [2]:
from time import sleep
import pandas as pandas
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait 
import pandas as pd

In [177]:
url = 'https://www.yelp.fr/biz/pny-fsd-paris-new-york-paris'

In [178]:
driver = webdriver.Chrome('/Users/admin/chromedriver')
driver.get(url)
sleep(10)

In [179]:
comment_blocs = driver.find_elements_by_css_selector('.review__373c0__13kpL.border-color--default__373c0__3-ifU')
restaurant_header = driver.find_elements_by_css_selector('.photoHeader__373c0__YdvQE ')
restaurant_average_rating = restaurant_header[0].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label').split()[0]
restaurant_reviews_count = restaurant_header[0].find_element_by_css_selector('.text__373c0__2Kxyz').text.split()[0]
try:
    exp = restaurant_header[0].find_elements_by_css_selector('.text__373c0__2Kxyz.text-bullet--after__373c0__3fS1Z.text-size--large__373c0__3t60B')[-1].text
    restaurant_expensiveness = len(exp)
except:
    restaurant_expensiveness = 'N/C'


detailed_reviews_list=[]

 
for i in range(len(comment_blocs)):
    try:
        date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[3].text.split()[-1]
    except: 
        date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[2].text.split()[-1]
    rating = comment_blocs[i].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label')[0]

    try: 
        username = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[0].text
    except:
        username = 'Not_Yelp_User'
    
    try:
        photos_for_review = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[1].text[0]
    except:
        photos_for_review = 0
    user_location =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[0].text
    text_review =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[1].text
    user_friends_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[0].text
    user_reviews_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[1].text

    try:
        user_total_image_posted = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[2].text
                                                                            
    except:
        user_total_image_posted = 0

    is_real_review = 1

    detailed_reviews_list.append([date, username, photos_for_review, rating, text_review, user_location, user_friends_count, user_reviews_count, user_total_image_posted, restaurant_average_rating, restaurant_reviews_count, restaurant_expensiveness, is_real_review])

    
    print(i, 'OK')
df = pd.DataFrame(detailed_reviews_list,
                             columns = ['date','username', 'photos_for_review', 'rating',
                                         'text_review', 'user_location', 'user_friends_count',
                                          'user_reviews_count', 'user_total_image_posted', 'restaurant_average_rating',
                                           'restaurant_reviews_count', 'restaurant_expensiveness', 'is_real_review'])

0 OK
1 OK
2 OK
3 OK
4 OK
5 OK
6 OK
7 OK
8 OK
9 OK
10 OK
11 OK
12 OK
13 OK
14 OK
15 OK
16 OK
17 OK
18 OK
19 OK

In [180]:
df

,date,username,photos_for_review,rating,text_review,user_location,user_friends_count,user_reviews_count,user_total_image_posted,restaurant_average_rating,restaurant_reviews_count,restaurant_expensiveness,is_real_review
0,12/02/2017,Charlotte G.,0,4,On ne peut pas dire que le quartier manque de ...,Paris,53,107,127,3.5,138,2,1
1,04/05/2016,Marion R.,3,4,J'avais vaguement entendu parler de ce restaur...,Paris,17,116,44,3.5,138,2,1
2,26/07/2018,Owen M.,0,5,Très bon restaurants !!! Le cheddar est excell...,Paris,5,5,1,3.5,138,2,1
3,25/02/2015,Gabrielle B.,2,3,Quand on veut prendre son temps pour manger un...,Paris,33,85,94,3.5,138,2,1
4,22/02/2015,Benjamin F.,1,3,Mitigé.\nService très rapide et agréable.\nPai...,Paris,2,9,3,3.5,138,2,1
5,28/03/2015,Yann P.,2,4,"Je suis un grand amateur de hamburgers, je sui...","Argenteuil, Val-d'Oise",9,76,60,3.5,138,2,1
6,29/04/2014,Marine B.,1,3,"A force de lire tous ces avis sur Yelp, il fal...",Paris,671,198,441,3.5,138,2,1
7,15/02/2018,Alisa R.,0,4,L'endroit est très sympa et le décor est stylé...,Paris,0,15,16,3.5,138,2,1
8,24/06/2014,Fujiko M.,1,4,Bien longtemps après l'ouverture j'ai enfin ét...,Paris,42,267,558,3.5,138,2,1
9,26/08/2016,Maxime P.,0,5,Un restaurant de burger de qualité et ca se re...,Paris,74,195,222,3.5,138,2,1
10,14/12/2014,Francois B.,1,4,"Dans le quartier de Strasbourg-Saint Denis, un...",Paris,30,60,115,3.5,138,2,1
11,01/06/2013,Boris A.,1,5,"Welcome to ""New York"" !\n\nCe restaurant est e...",Paris,88,189,595,3.5,138,2,1
12,31/10/2013,Camille M.,3,3,"Testé hier soir, le Paris New York me laisse p...",Paris,147,560,788,3.5,138,2,1
13,22/02/2014,Claire B.,1,4,"Restau découvert dans le figaro, reconnu comme...","Chartres, Eure-et-Loir",5,14,7,3.5,138,2,1
14,20/10/2016,Anaïs B.,0,5,"Délicieux burger, super frites, serveuse à la ...",Paris,46,77,168,3.5,138,2,1
15,14/02/2014,Camille G.,1,3,On m'a reproché il y a peu de ne trouver aucun...,"Levallois-Perret, Hauts-de-Seine",110,206,132,3.5,138,2,1
16,30/04/2013,Amaury C.,1,2,"J'aime Paris et j'adore New York, mais le Pari...",Paris,186,591,1311,3.5,138,2,1
17,06/06/2013,Audrey P.,1,3,"Habitant à 50m du PNY, j'ai du y passer un mil...",Paris,228,239,784,3.5,138,2,1
18,07/01/2013,Mélanie R.,1,4,"La rue du Faubourg Saint-Denis, j'y passe quan...",Paris,136,268,71,3.5,138,2,1
19,09/09/2015,Katia B.,0,4,"Bon après une soirée de 30 ans bien arrosée, o...",Paris,143,252,285,3.5,138,2,1