In [201]:
from time import sleep
import pandas as pandas
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait 
import pandas as pd

In [206]:
url = 'https://www.yelp.fr/biz/le-ruisseau-paris-2'

In [216]:
driver = webdriver.Chrome('/Users/admin/chromedriver')

In [207]:
driver = webdriver.Chrome('/Users/admin/chromedriver')
driver.get(url)
sleep(10)

In [208]:
detailed_reviews_list=[]

restaurant_header = driver.find_elements_by_css_selector('.photoHeader__373c0__YdvQE ')
restaurant_average_rating = restaurant_header[0].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label').split()[0]
restaurant_reviews_count = restaurant_header[0].find_element_by_css_selector('.text__373c0__2Kxyz').text.split()[0]
try:
        exp = restaurant_header[0].find_elements_by_css_selector('.text__373c0__2Kxyz.text-bullet--after__373c0__3fS1Z.text-size--large__373c0__3t60B')[-1].text
        restaurant_expensiveness = len(exp)
except:
        restaurant_expensiveness = 'N/C'

while True:
    comment_blocs = driver.find_elements_by_css_selector('.review__373c0__13kpL.border-color--default__373c0__3-ifU')   
    
    for i in range(len(comment_blocs)):
        try:
            date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[3].text.split()[-1]
        except: 
            date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[2].text.split()[-1]
        rating = comment_blocs[i].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label')[0]

        try: 
            username = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[0].text
        except:
            username = 'Not_Yelp_User'
        
        try:
            photos_for_review = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[1].text[0]
        except:
            photos_for_review = 0
        user_location =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[0].text
        text_review =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[1].text
        user_friends_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[0].text
        user_reviews_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[1].text

        try:
            user_total_image_posted = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[2].text
                                                                                
        except:
            user_total_image_posted = 0

        is_real_review = 1

        detailed_reviews_list.append([date, username, photos_for_review, rating, text_review, user_location, user_friends_count, user_reviews_count, user_total_image_posted,                                       restaurant_average_rating, restaurant_reviews_count, restaurant_expensiveness, is_real_review])

        
        print(i, 'OK')

    try:
        #navigate to the next page
        driver.find_elements_by_css_selector('.next-link')[0].click()
        sleep(1.5) 
    except:
        break

df = pd.DataFrame(detailed_reviews_list,
                                columns = ['date','username', 'photos_for_review', 'rating',
                                            'text_review', 'user_location', 'user_friends_count',
                                            'user_reviews_count', 'user_total_image_posted', 'restaurant_average_rating',
                                            'restaurant_reviews_count', 'restaurant_expensiveness', 'is_real_review'])

0 OK
1 OK
2 OK
3 OK
4 OK
5 OK
6 OK
7 OK
8 OK
9 OK
10 OK
11 OK
12 OK
13 OK
14 OK
15 OK
16 OK
17 OK
18 OK
19 OK
0 OK
1 OK
2 OK
3 OK
4 OK
5 OK
6 OK
7 OK
8 OK
9 OK
10 OK

In [219]:
df.head(2)

,date,username,photos_for_review,rating,text_review,user_location,user_friends_count,user_reviews_count,user_total_image_posted,restaurant_average_rating,restaurant_reviews_count,restaurant_expensiveness,is_real_review
0,12/02/2017,Mei L.,0,5,Les meilleurs burgers de Paris d'après moi !\n...,Paris,0,23,12,4.5,44,2,1
1,07/02/2016,Anaïs B.,2,5,Un sans faute !\nPremière chose: penser à rése...,Paris,46,77,168,4.5,44,2,1

In [229]:
def get_df_from_url(url, restaurant_name):
    driver.get(url)
    sleep(6)

    detailed_reviews_list=[]

    restaurant_header = driver.find_elements_by_css_selector('.photoHeader__373c0__YdvQE ')
    restaurant_average_rating = restaurant_header[0].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label').split()[0]
    restaurant_reviews_count = restaurant_header[0].find_element_by_css_selector('.text__373c0__2Kxyz').text.split()[0]
    try:
            exp = restaurant_header[0].find_elements_by_css_selector('.text__373c0__2Kxyz.text-bullet--after__373c0__3fS1Z.text-size--large__373c0__3t60B')[-1].text
            restaurant_expensiveness = len(exp)
    except:
            restaurant_expensiveness = 'N/C'

    while True:
        comment_blocs = driver.find_elements_by_css_selector('.review__373c0__13kpL.border-color--default__373c0__3-ifU')   
        
        for i in range(len(comment_blocs)):
            try:
                date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[3].text.split()[-1]
            except: 
                date = comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--mid__373c0__jCeOG.text-align--left__373c0__2XGa-')[2].text.split()[-1]
            rating = comment_blocs[i].find_element_by_css_selector('.i-stars__373c0__1T6rz').get_attribute('aria-label')[0]

            try: 
                username = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[0].text
            except:
                username = 'Not_Yelp_User'
            
            try:
                photos_for_review = comment_blocs[i].find_elements_by_css_selector('a.link__373c0__1G70M.link-size--inherit__373c0__1VFlE')[1].text[0]
            except:
                photos_for_review = 0
            user_location =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[0].text
            text_review =  comment_blocs[i].find_elements_by_css_selector('.text__373c0__2Kxyz.text-color--normal__373c0__3xep9.text-align--left__373c0__2XGa-')[1].text
            user_friends_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[0].text
            user_reviews_count = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[1].text

            try:
                user_total_image_posted = comment_blocs[i].find_elements_by_css_selector('.user-passport-stats__373c0__2LjLz .text__373c0__2Kxyz')[2].text
                                                                                    
            except:
                user_total_image_posted = 0

            is_real_review = 1

            detailed_reviews_list.append([date, username, photos_for_review, rating, text_review, user_location, user_friends_count, user_reviews_count,                                  user_total_image_posted, restaurant_average_rating, restaurant_reviews_count, restaurant_expensiveness, restaurant_name, is_real_review])

            
            print(url, i, 'OK')

        try:
            #navigate to the next page
            driver.find_elements_by_css_selector('.next-link')[0].click()
            sleep(1.5) 
        except:
            break

    df = pd.DataFrame(detailed_reviews_list,
                                    columns = ['date','username', 'photos_for_review', 'rating',
                                                'text_review', 'user_location', 'user_friends_count',
                                                'user_reviews_count', 'user_total_image_posted', 'restaurant_average_rating',
                                                'restaurant_reviews_count', 'restaurant_expensiveness', 'restaurant_name', 'is_real_review'])
    return df

In [230]:
get_df_from_url('https://www.yelp.fr/biz/le-ruisseau-paris-2', 'le ruisseau' )

https://www.yelp.fr/biz/le-ruisseau-paris-2 0 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 1 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 2 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 3 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 4 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 5 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 6 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 7 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 8 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 9 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 10 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 11 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 12 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 13 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 14 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 15 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 16 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 17 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 18 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 19 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 0 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 1 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 2 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 3 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 4 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 5 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 6 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 7 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 8 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 9 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 10 OK

,date,username,photos_for_review,rating,text_review,user_location,user_friends_count,user_reviews_count,user_total_image_posted,restaurant_average_rating,restaurant_reviews_count,restaurant_expensiveness,restaurant_name,is_real_review
0,12/02/2017,Mei L.,0,5,Les meilleurs burgers de Paris d'après moi !\n...,Paris,0,23,12,4.5,44,2,le ruisseau,1
1,07/02/2016,Anaïs B.,2,5,Un sans faute !\nPremière chose: penser à rése...,Paris,46,77,168,4.5,44,2,le ruisseau,1
2,16/09/2016,Cecile P.,4,4,L'adresse revient bien souvent lorsqu'on parle...,"Puteaux, Hauts-de-Seine",142,388,589,4.5,44,2,le ruisseau,1
3,20/03/2016,Aude L.,2,3,Excellents burgers mais service inexpérimenté ...,Clamart,11,22,11,4.5,44,2,le ruisseau,1
4,11/04/2016,Pauline H.,1,3,"Dans les restos, je sais jamais si les quantit...",Paris,117,444,371,4.5,44,2,le ruisseau,1
5,12/12/2016,Hélène B.,2,5,"Je crie haut et fort que : "" la P-E-R-F-E-C-T-...",Lyon,82,499,1091,4.5,44,2,le ruisseau,1
6,17/01/2016,Vert F.,1,2,Quelle jOie de retrOuver mes amis dès midi dan...,"Washington, DC, États-Unis",59,78,149,4.5,44,2,le ruisseau,1
7,28/07/2015,Myriam M.,3,5,Restaurant très orienté Burger. Néanmoins cart...,Paris,12,6,11,4.5,44,2,le ruisseau,1
8,09/08/2015,Olivier L.,3,5,Il est dur de trouver le bon endroit pour mang...,"14ème arr., Paris",130,126,355,4.5,44,2,le ruisseau,1
9,14/01/2016,Jean Baptiste F.,3,4,Sur les conseils d'amis nous avons testé le ru...,Paris,9,98,247,4.5,44,2,le ruisseau,1
10,05/03/2015,Antoine A.,1,5,Parce qu'il vaut mieux aller tester 2 fois une...,Paris,28,37,16,4.5,44,2,le ruisseau,1
11,05/07/2014,Edvar V.,3,5,Presque un an maintenant que Le Ruisseau a ouv...,Paris,139,168,167,4.5,44,2,le ruisseau,1
12,29/01/2015,Daick D.,1,4,Ça fait un bout de temps que je vous voulais t...,Paris,18,36,39,4.5,44,2,le ruisseau,1
13,26/10/2015,Floriane R.,L,4,Le 18e regorge décidément d'adresses toutes pl...,Paris,47,73,20,4.5,44,2,le ruisseau,1
14,19/03/2016,Valentin B.,0,5,Le ruisseau c'est vraiment la bonne adresse bu...,Paris,25,31,18,4.5,44,2,le ruisseau,1
15,13/03/2016,Mélanie C.,0,5,Une bonne adresse pour un restaurant de burger...,Paris,4,14,2,4.5,44,2,le ruisseau,1
16,21/01/2017,Philippe C.,0,4,"Un pain excellent, moelleux et doré.\nUne cart...",Paris,0,3,0,4.5,44,2,le ruisseau,1
17,06/03/2016,Basile V.,0,5,Définitivement le meilleur burger place de Par...,"Kips Bay, Manhattan, États-Unis",93,18,5,4.5,44,2,le ruisseau,1
18,02/01/2016,Jerem G.,1,4,"Super Burger, viande, cuisson, le pain, frites...",Vincennes,0,6,2,4.5,44,2,le ruisseau,1
19,26/06/2015,Henri M.,0,3,J'ai lu les autres posts ... On arrête de s'en...,Paris,5,97,89,4.5,44,2,le ruisseau,1
20,06/08/2016,Jordyn P.,0,5,"""The best burger in Paris!""\nJe suis allée plu...",Paris,2,40,6,4.5,44,2,le ruisseau,1
21,28/11/2015,Xenia C.,2,2,"J'espère être tombée sur un mauvais soir, car ...",Lyon,7,217,117,4.5,44,2,le ruisseau,1
22,31/10/2015,Aneliie V.,0,5,Délicieux ! Excellent rapport qualité/prix !! ...,Paris,0,3,2,4.5,44,2,le ruisseau,1
23,09/03/2018,Audrey P.,0,5,"Resto convivial, musique agréable. Équipe jeun...",Nice,0,2,0,4.5,44,2,le ruisseau,1
24,07/04/2014,Céline K.,0,4,"Depuis le temps que je passais devant, j'ai en...","Mairie du 18e/Lamarck, Paris",88,106,33,4.5,44,2,le ruisseau,1
25,jour,Dulie M.,0,5,Bon il faut passer au dessus du repère de jeun...,Paris,0,66,0,4.5,44,2,le ruisseau,1
26,13/02/2017,Emie T.,0,5,"Très bonne ambiance, produit frais et délicieu...","Notre-Dame-de-l'Isle, Eure",1,17,3,4.5,44,2,le ruisseau,1
27,12/12/2013,Maxime F.,0,4,Alors je n'ai pour l'instant eu qu'un avant go...,Paris,34,68,24,4.5,44,2,le ruisseau,1
28,10/02/2015,Jeanne A.,0,5,J'ai adhéré dès ma première visite : des burge...,Paris,25,6,0,4.5,44,2,le ruisseau,1
29,12/03/2014,Xavier F.,0,5,"Pour une première dans ce resto/Burger, j'en s...","Mairie du 18e/Lamarck, Paris",7,3,2,4.5,44,2,le ruisseau,1
30,08/02/2014,Floriane H.,0,5,Très bonne impression les deux fois où j'ai pu...,"Nancy, Meurthe-et-Moselle",0,9,0,4.5,44,2,le ruisseau,1

In [235]:
urls = ['https://www.yelp.fr/biz/le-ruisseau-paris-2',
        'https://www.yelp.fr/biz/maison-dong-paris']

names = ['le ruisseau', 'maison_dong']

In [236]:
df_list = [get_df_from_url(url, name) for url, name in zip(urls,names)]

https://www.yelp.fr/biz/le-ruisseau-paris-2 0 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 1 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 2 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 3 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 4 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 5 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 6 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 7 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 8 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 9 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 10 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 11 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 12 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 13 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 14 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 15 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 16 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 17 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 18 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 19 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 0 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 1 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 2 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 3 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 4 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 5 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 6 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 7 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 8 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 9 OK
https://www.yelp.fr/biz/le-ruisseau-paris-2 10 OK
https://www.yelp.fr/biz/maison-dong-paris 0 OK

In [238]:
df_list[1]

,date,username,photos_for_review,rating,text_review,user_location,user_friends_count,user_reviews_count,user_total_image_posted,restaurant_average_rating,restaurant_reviews_count,restaurant_expensiveness,restaurant_name,is_real_review
0,08/04/2018,Victoria C.,0,5,"Réservation via Lafourchette, le restaurant m'...",Paris,12,103,498,5,2,10,maison_dong,1